h1 {
  color: rgb(236, 233, 233);
  padding: 6px 0px;
  margin: 0px;
}
header {
  background-color: black;
  text-align: center;
  border-radius: 6px;
  margin: 2px;
  width: 100vw;
}
.link-search-style {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
