div {
  display: flex;
  align-items: center;
}
p {
  color: black;
  font-size: 14px;
  padding: 10px;
}
input {
  width: 200px;
  height: 30px;
}
button {
  background-color: white;
  margin-right: 30px;
  color: black;

  margin-left: 10px;
}
.searchedStyle {
  background-color: rgba(6, 69, 28, 0.981);
  border: 2px solid rgb(19, 58, 64);
  border-radius: 6px;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  text-align: center;
}

div {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
