.coursesDiv {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  background-color: dodgerblue;
  padding: 10px;
}
.filter--search--style {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
